@import 'fonts';
@import 'vars';
@import 'global';



body {
	min-width: 280px;
	max-width: 1920px;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #1e1e1e;
	font-weight: 400;
	font-family: "Open Sans";
	background-color: #ffffff;
	min-height: 100vh;
}

a {
}

button {
}

.container {
	max-width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}


.test {
	text-align: center;
	&__box {
		color: green;
	}
}

body{
	background-color: green;
	font-family: 'SlabPro';
	font-weight: 700;
	p{
		color: #1c1c1c;
		font-size: 40px;
		line-height: 23px;
	}
}

@import '../blocks/popup/popup';

@import 'media';
